@media screen and (max-width: 1024px) {
    .nav.navbar-nav.menu-master li:last-child > ul {
        right:auto;
        left:0;
    }
    .titlePoster {
    margin-left: -10px;
}
    a.ReportPoster {
        left:-10px;
    }
    .catpost {
    left: -10px;
}
    .left_post_views .Block {
    width: 230px;
}
    .serverD > div > *:not(.adG) {
    height: 400px;
}
    ul.informationsList > li {
    height: auto;
    line-height: 25px;
    padding: 10px;
}
    ul.informationsList > li > span {
    display: block;
    float: none;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 6px;
}
    .list_it {
    padding-right: 0;
}
    .MasterCover .container {
    padding-right: 210px;
}
    .posterContainer {
    height: 280px;
    width: 200px;
}
    .Block > a > p {
    top: 50px;
    height: 140px;
    overflow: hidden;
}
    .sectionsCategories > .section .Block {
    height: 300px;
}
    .innerHeader {
    height: 1550px;
}
    .sliderHeader .owl-item > li {
    width: 100%;
}
    .sliderHeader .owl-item a {

		
		width: 230px;
    height: 320px;
}
}