/*============= Fonts =============*/
@font-face {
  font-family: 'Font Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Font';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}
/*============= Main Css =============*/
::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background: #252B32;
}
 
::-webkit-scrollbar-thumb {
    background: #D61919;
}
body, html {
	height:100%;
}
body {
	font-family:'Font Bold', Arial Black;
	font-size: 15px;
	color: white;
	background-image: url(../img/bg.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: top center;
}
.header .container {
	position:relative;
}
.container {
	width:1200px;
	margin:0 auto;
}
.header .logo img  {
    display: inline-block;
    float: right;
}
.header .logo span {
    margin-top: 0px;
    display: inline-block;
    overflow: hidden;
}
.header .logo a {
	color:white;
}
.header .logo:after {
    content: '';
    position: absolute;
    top: 66px;
    left: 155px;
    height: 50px;
    width: 180px;
    background-size: 150% 100% !important;
    background: url(../img/shadow/shadow-1.png);
    transform: rotate(-90deg);
    background-position: center center;
}
.header .logo:before {
    content: '';
    position: absolute;
    top: 66px;
    right: 155px;
    height: 50px;
    width: 180px;
    background-size: 150% 100% !important;
    background: url(../img/shadow/shadow-1.png);
    transform: rotate(90deg);
    background-position: center center;
}
.header .logo:before {}
.header .logo {
    float: right;
    color: white;
    display: inline-block;
    line-height: 66px;
    width: 220px;
    position: absolute;
    background: linear-gradient(rgb(25, 28, 33), rgb(46, 54, 63), rgb(25, 28, 33));
    z-index: 100;
    padding: 24px 10px 10px;
    top: -8px;
    height: 180px;
}
.header {
	background: #252b32;
	border-bottom: 4px solid #D61919;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 120px;
}
.topBar {
    height: 47px;
    background-color: #22272C;
    border-bottom: 2px solid #2E343A;
}
.main-menu li a:hover {
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	background-color: #D61919;
	transition: all 0.3s linear;
}
.main-menu li a i {
    font-size: 24px;
    margin-top: -5px;
    float: right;
    margin-left: 10px;
}
.main-menu li a {
	border-left: 1px solid rgba(255,255,255,0.1);
	color: #fff;
	float: left;
	font-size: 14px;
	font-weight: 500;
	padding: 23px 15px 17px;
	position: relative;
}
.main-menu li {
	float: right;
	line-height: 1;
	list-style: none;
	position: relative;
}
.main-menu:after {
	content:'';
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	height: 50px;
	z-index: -1;
	background: url(../img/shadow/shadow-1.png);
	background-size: 100% 100%;
}
.main-menu {
    background-color: #252B32;
    border-bottom: 1px solid #282828;
    margin-bottom: 30px;
    position: relative;
}
/*========= Search Form ===========*/
.search-top { float: left; height: 36px; margin-top: 4px; overflow: hidden; position: relative; background-color: rgba(255, 255, 255, 0.1); padding: 3px 4px 10px;}
.search-top:after { color: #FFFFFF; content: "\ea01"; font-family: "icomoon"; position: absolute; left: 12px; top: 10px; font-size: 17px; z-index: 1; }
.search-top input[type="text"] { background: none; border: medium none; color: #FFFFFF; float: right; font-size: 11px; font-style: normal; height: 34px; line-height: 34px; width: 250px; padding: 0; padding-right: 8px;}
.search-top input[type="submit"] { background: none; border: medium none; min-height: 36px; min-width: 36px; position: relative; z-index: 9; }
/*====== Social Media Style =======*/
.youtube {
    background-color: #D52323;
}
.facebook {
    background-color: #3C599F;
}
.twitter {
    background-color: #33CCFF;
}
.google_plus {
    background-color: #D44132;
}
.right-side {
    position: absolute;
    left: 0;
    top: 16px;
}
.socialmedia { position: absolute; left: 0; top: 64px;}
.socialmedia li { float: right; list-style: none; height: 34px; margin: 0 5px 0 0; width: 34px; text-align: center; padding-top: 6px;}
.socialmedia li a i { -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; color: #FFFFFF; font-size: 20px; transition: all 0.3s linear; }
.socialmedia li a i:hover { -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; color: #fff; transition: all 0.3s linear; }
/*====== More Css ======*/
.header-soon:after {
	content:'';
	position:absolute;
	top:100%;
	left:0;
	margin-top: 20px;
	width:100%;
	height: 50px;
	z-index: -1;
	background: url(../img/shadow/shadow-1.png);
	background-size: 100% 100%;
}
.header-soon {
    position: relative;
    margin-bottom: 50px;
}
.heades-name li:last-child {
    margin-left: 0;
}
.heades-name li.active {
    box-shadow: inset 0px 4px 0 rgb(214, 25, 25);
    background-color: rgb(46, 54, 63);
}
.heades-name li {
    transition: .3s all ease;
    display: inline-block;
    width: 164.4px;
    text-align: center;
    cursor: pointer;
    padding: 9px 0;
    float: right;
    margin-left: 8px;
    color: white;
    background-color: rgb(37, 43, 50);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.heades-name {
    list-style: none;
    display: inline-block;
    width: 100%;
}
.VS {
    font-family: Lobster;
    font-size: 30px;
    position: relative;
    color: rgb(214, 25, 25);
    top: 8px;
    display: inline-block;
}
#countdown_dashboard {
	height: 45px;
	padding-top: 9px;
	display: inline-block;
}

.dash {
	background: linear-gradient(rgba(147, 19, 19, 1), rgba(214, 25, 25, 1), rgba(160, 15, 15, 1));
	padding: 3px 6px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.48);
	margin-top: 0;
	font-family: Arial Black;
	font-weight:bold;
	font-size:34px;
	display: inline-block;
	color: white;
	width: 48px;
	height: 43px;
}


.dash .digit {
	font: bold 20pt Arial Black;
	font-weight: bold;
	float: left;
	text-align: center;
	position: relative;
}

.dash_title {
	display: none;
}
.list-table table {
    width: 100%;
}
.list-table table tbody > tr:nth-child(2n+0) td {
    background-color: rgba(255, 255, 255, 0.03);
}
.list-table table tbody td {
    padding-top: 0;
}
.list-table table td {
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 7px;
    border: 1px solid rgba(255, 255, 255, 0.06);
}
.list-table table th {
    background-color: rgb(37, 43, 50);
    border: 1px solid #2E363F;
    color: white;
    padding: 10px;
}
.teams > div.team1 img , .teams > div.team2 img {
    width: 40px;
    float: right;
    margin-left: 11px;
}
.teams > div.team2 {
    margin-right: 6px;
}
.teams > div.team1 img {
    float: left;
    margin-right: 11px;
    margin-left: 0;
}
.teams > div.team1 {
    margin-left: 6px;
}
.teams > div.team1 , .teams > div.team2 {
    display: inline-block;
    line-height: 40px;
}
.teams {
    text-align: center;
    margin-top: -1px;
}
.Champion {
    width: 60px;
    text-align: center;
    display: inline-block;
}
@-webkit-keyframes live {
	0% {
		box-shadow:0px 0px 35px red;
		background-color: #D61919;
	}
}
.live {
	animation: live .3s infinite alternate;
    display: block;
    
	background-color: #A51212;
    font-family: Arial Black;
    font-size: 21px;
    color: white;
    box-shadow: 0px 0px 10px #B21515;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.69);
    text-transform: uppercase;
    width: 84px;
    border-radius: 4px;
    
	padding: 3px;
    
	margin: 12px auto 12px;
    position: relative;
    top: 2px;
}
.withnumbers .teams .team1 em {
    float: left;
    margin-right: 10px;
    margin-left: -5px;
}
.withnumbers .teams .team2 em {
    float: right;
    margin-left: 10px;
    margin-right: -8px;
}
.withnumbers .teams em {
    font-style: normal;
    font-size: 40px;
    position: relative;
    top: 2px;
}
.withoutnumbers .teams .team1 em {
    float: left;
    margin-right: 10px;
    margin-left: -2px;
}
.withoutnumbers .teams .team2 em {
    float: right;
    margin-left: 10px;
    margin-right: -2px;
}
.withoutnumbers .teams em {
    font-style: normal;
    font-size: 40px;
}
.done {
	
    background-color: #252B32;
    font-family: Font Bold;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    
	
    padding: 1px 8px;
    display: inline-block;
    margin: 14px auto 15px;
    position: relative;
    top: 2px;
}
.timeMatch {
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding-left: 8px;
}
.am-pm {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 4px;
    height: 24px;
    font-size: 12px;
    display: inline-block;
    padding: 2px 5px;
    position: relative;
    top: -3px;
}
.wide-shape {
    width: 100%;
    height: 100%;
    right: -9px;
    transform: skew(19deg);
    background-color: rgb(25, 28, 33);
    position: absolute;
    top: 0;
}
.title-news span {
    position: relative;
    z-index: 1;
    transform: skew(18deg);
    display: block;
    right: -5px;
}
.title-news {
    position: relative;
    background-color: rgb(25, 28, 33);
    display: inline-block;
    z-index: 1;
    color: white;
    transform: skew(-18deg, 0deg);
    padding: 6px 15px;
    margin-bottom: 12px;
    font-size: 20px;
    margin-right: 9px;
}
.shape1 {
    position: absolute;
    top: 0;
    margin-right: 5px;
    right: 100%;
    height: 100%;
    width: 6px;
    background-color: rgb(255, 255, 255);
}
.shape2 {
    position: absolute;
    top: 0;
    margin-right: 15px;
    right: 100%;
    height: 100%;
    width: 16px;
    background-color: rgb(182, 16, 16);
}
.mainContent {
    float: right;
    width: 885px;
}
.sidebar * {
	max-width:100%;
}
.sidebar .ad-300-83 {
    height: 600px;
    background-color: rgb(37, 43, 50);
}
.sidebar > div.video > iframe {
    height: 204px;
    float: right;
}
.list-most-view {}
.list-most-view > div {
    clear: both;
    display: inline-block;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    background-color: rgb(37, 43, 50);
    border: 1px solid rgba(255, 255, 255, 0.09);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.52);
}
.list-most-view > div img {
    width: 110px;
    float: right;
    height: 100%;
    margin-left: 8px;
}
.list-most-view > div .title {
    font-size: 14px;
    color: white;
    margin-top: 11px;
    height: 52px;
    overflow: hidden;
}
.sidebar .title-news {
    font-size: 14px;
}
.sidebar > div {
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
}
.sidebar {
    width: 300px;
    float: right;
    position: relative;
    margin-left: 15px;
    z-index: 10;
}
.news .block:hover .title {
	-webkit-animation: lightSpeedIn .5s both ease-out;
          animation: lightSpeedIn .5s both ease-out;
	opacity:1;
}
.news .block .title {
	opacity:0;
	transition:.3s all ease;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 11px;
    font-size: 13px;
    color: white;
    background-color: rgba(0, 0, 0, 0.84);
}
.news .block img {
    width: 100%;
    height: 100%;
}
.news .block {
    width: 217px;
    display: inline-block;
    overflow: hidden;
    height: 200px;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.51);
}
.mainContent .line:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 50px;
    background: url(../img/shadow/shadow-1.png);
    background-size: 100% 100%;
}
.mainContent .line {
    height: 4px;
    background-color: rgba(255, 255, 255, 0.06);
    margin: 14px 0px 20px;
    position: relative;
    z-index: 1;
}
.downloads > div {
    width: 291px;
    overflow: hidden;
    position: relative;
    height: 230px;
    display: inline-block;
}
.downloads > div:hover .overlayDownload {
    opacity: 1;
}
.downloads > div:hover .overlayDownload i {
    transform: scale(1);
    opacity: 1;
}
.downloads > div .overlayDownload i {
    display: block;
    opacity: 0;
    transform: scale(0) translate(0px, -53px);
    transition: .3s all ease;
}
.downloads > div .overlayDownload {
	opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    
	transition: .3s all ease;
	font-size: 70px;
    color: white;
    
	background-color: rgba(0, 0, 0, 0.88);
    z-index: 1;
    
	padding-top: 83px;
    
}
.downloads > div img {
    width: 100%;
    height: calc(100% - 60px);
    float: right;
}
.downloads > div .title {
    height: 60px;
    clear: both;
    font-size: 13px;
    padding: 6px 11px;
    color: white;
    border-top: 0 !important;
    background-color: rgb(37, 43, 50);
    border: 1px solid rgba(56, 61, 68, 0.99);
}
.videos .block:hover .overlay {
    opacity: 1;
    transform: translate(0);
}
.videos .block .overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    opacity: 0;
    transition: .3s all ease;
    left: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.83);
    width: 100%;
    transform: translate(100%, 100%);
    height: 100%;
    padding-top: 63px;
    font-size: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.83);
    color: rgb(255, 255, 255);
}
.videos .block {
    width: 230px;
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    display: inline-block;
}
.videos .block:hover img {}
.videos .block img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.videos .block:hover .title {
	bottom:-100%;
}
.videos .block .title {
    position: absolute;
    opacity:1;
    bottom:0;
    left: 0;
    padding: 8px;
    width: 100%;
    font-size: 13px;
    line-height: 25px;
    transition:.3s all ease;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.83);
    color: white;
}
.thumbnail:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 30px;
    background: url(../img/shadow/shadow-1.png);
    background-size: 100% 100%;
}
.thumbnail {
    position: relative;
    display: table;
    margin: 0 auto 26px;
}
.thumbnail img {
    float: right;
}
.details-list > li i {
    color: white;
    font-size: 30px;
    float: right;
    margin-left: 12px;
}
.details-list > li {
    display: inline-block;
    margin-left: 23px;
    line-height: 35px;
}
.details-list {
    list-style: none;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    border-top: 4px solid #D61919 !important;
    background-color: rgb(37, 43, 50);
    padding: 10px 10px 8px;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.55);
}
.contentArticle p {
    margin-bottom: 13px;
}
.contentArticle {
	color:white;
}
.pagination {
    text-align: center;
    clear: both;
    padding-top: 12px;
}
.pagination a.active {
    background-color: rgb(214, 25, 25);
    border-color: rgb(214, 25, 25);
}
.pagination a {
    background-color: rgb(37, 43, 50);
    border-top: 3px solid rgb(214, 25, 25);
    color: white;
    padding: 3px 12px;
    border-radius: 0 0 18px 18px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.75);
}
.copyrights .alignleft a {
    color: rgba(255, 255, 255, 0.66);
}
.copyrights a {
    color: white;
}
.copyrights .alignleft {
    float: left;
}
.copyrights .alignright {
    float: right;
}
.copyrights {
    background-color: rgb(25, 28, 33);
    color: white;
    border-top: 1px solid #22272B;
    padding: 12px;
    margin-top: 40px;
}
.contentDownload {
    background-color: rgba(255, 255, 255, 0.07);
    padding: 25px;
    border-radius: 0;
    line-height: 30px;
    border-right: 4px solid #D61919;
    margin-bottom: 15px;
}
.contentDownload > p:last-child {
    margin-bottom: 0;
}
.contentDownload > p {
    margin-bottom: 13px;
}
.goals {
    margin-bottom: -47px;
}
.goals h2 i {
    color: rgb(242, 197, 22);
    font-size: 19px;
}
.goals h2 {
    font-size: 32px;
    color: white;
    padding-bottom: 5px;
    text-align: center;
    float: right;
    width: 75%;
}
.goals img {
    width: 220px;
}
.goals ul {
    width: 75%;
}
.goals ul li i {
    margin-left: 9px;
    color: rgb(242, 197, 22);
    font-size: 22px;
    position: relative;
    top: 3px;
}
.goals ul li {
    list-style: none;
    border: 1px solid rgba(45, 49, 53, 0.99);
    width: 50%;
    float: right;
    padding: 5px 8px;
    margin-bottom: -1px;
}
.downloadBTN {
    background-color: rgb(214, 25, 25);
    color: white;
    font-size: 20px;
    padding: 4px 18px;
    margin-bottom: 17px;
    display: inline-block;
    float: right;
}
.ad-728 {
    width: 728px;
    height: 90px;
    float: left;
    background-color: rgb(37, 43, 50);
    margin: -10px auto -47px;
}
.tv-block .title:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    width: 0;
	height: 0;
	border-style: solid;
	
    border-width: 0px 7px 7px 7px;
	
    border-color: transparent  transparent rgba(255, 255, 255, 1)transparent;
}
.tv-block .title {
    transition: .3s all ease;
    position: absolute;
    z-index: 100;
    bottom: -43px;
    left: 50%;
    margin-left: -75px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.79);
    width: 150px;
    color: rgb(25, 28, 33);
    visibility: hidden;
    font-size: 13px;
    opacity: 0;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 4px 0;
}
.tv-block img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.tv-block:hover .title {
    opacity: 1;
    visibility: visible;
}
.list-tv .tv-block:nth-child(12n+2) {
    margin-left: 0;
}
.tv-block {
    width: 89.5px;
    margin-bottom: 0;
    margin-bottom: 9px;
    height: 100px;
    float: right;
    position: relative;
    margin-left: 9px;
    border-radius: 13px;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.96);
}
.list-tv:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 50px;
	background: url(../img/shadow/shadow-1.png);
	background-size: 100% 100%;
}
.list-tv .title-news {
    background-color: rgba(30, 35, 39, 1);
}
.list-tv .title-news .wide-shape {
    background-color: rgba(30, 35, 39, 1);
}
.list-tv {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: rgb(25, 28, 33);
    padding: 11px;
    margin-bottom: 30px;
    border: 2px solid rgba(16, 16, 16, 1);
    box-shadow: inset 0px 0px 60px rgba(0, 0, 0, 0.43);
}
.videos-section .title-news .shape1 {
    background-color: white;
}
.videos-section .title-news .shape2 {
    background-color: white;
}
.videos-section:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 50px;
	background: url(../img/shadow/shadow-1.png);
	background-size: 100% 100%;
}
.videos-section {
	display: inline-block;
	width: 100%;
	position: relative;
	background-color: rgb(182, 16, 16);
	padding: 11px;
	margin-bottom: 20px;
	border: 2px solid rgba(255, 255, 255, 0.17);
}
.videos-section .pagination a.active {
	background-color:white;
	color: rgb(182, 16, 16);
}
#TVcontainer {
  width: 852px;
  height: 514px;
  margin: 0 auto 4px;
  position: relative;
}
.outerEdge {
  margin: 0 auto;
  width: 100%;
  height: 498px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 5px #999 inset;
  -moz-box-shadow: 0px 0px 5px #999 inset;
  -webkit-box-shadow: 0px 0px 5px #999 inset;
  background: rgba(51, 46, 46, 1);
}
.outerBox {
  margin: 0 auto;
  position: relative;
  top: 7px;
  width: 97%;
  height: 482px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 5px #000 inset, 0px 0px 25px #1D1A1A inset;
  -moz-box-shadow: 0px 0px 5px #000 inset, 0px 0px 25px #912222 inset;
  -webkit-box-shadow: 0px 0px 5px #000 inset, 0px 0px 25px #110F0F inset;
  background: -moz-linear-gradient(#202020, #181818);
  background: -webkit-gradient(linear, left bottom, right top, from(#141414), to(#181818));
  background: -ms-linear-gradient(#202020, #181818);
  background: -khtml-gradient(linear, left bottom, right top, from(#202020), to(#181818));
  background: -o-linear-gradient(#202020, #181818);
  background: gradient(linear, left bottom, right top, from(#202020), to(#181818));
}
.TVscreen {
  z-index: 12;
  width: 773px;
  height: 429px;
  box-shadow: 2px 2px 2px #000 inset, 2px 2px 2px #a1a1a1;
  -moz-box-shadow: 2px 2px 2px #000 inset, 2px 2px 2px #a1a1a1;
  -webkit-box-shadow: 2px 2px 2px #000 inset, 2px 2px 2px #a1a1a1;
  background: -moz-linear-gradient(left top, #505050, #303030);
  background: -webkit-gradient(linear, left top, right bottom, from(#505050), to(#303030));
  background: -ms-linear-gradient(left top, #505050, #303030);
  background: -khtml-gradient(linear, left top, right bottom, from(#505050), to(#303030));
  background: -o-linear-gradient(left top, #505050, #303030);
  background: gradient(linear, left top, right bottom, from(#505050), to(#303030));
  position: relative;
  left: -27px;
  top: 18px;
}
.TVname {
  position: relative;
  bottom: -27px;
  margin: 0;
  font: normal 16px Tahoma;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: rgba(250, 203, 42, 1) !important;
}
#theVideo * {
	width:100%;
	height:100%;
}
#theVideo {
  width: 773px;
  height: 427px;
  position: relative;
  top: 2px;
  left: 2px;
  overflow: hidden;
  padding: 10px;
  color: white;
  z-index: 100;
}
.glare {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 0 auto;
  z-index: 10;
  width: 100%;
  height: 97%;
  background: -moz-linear-gradient(left top, rgba(255,255,255, 0.4) 0%, rgba(255,255,255, 0.075) 35%, rgba(255,255,255, 0) 35%, rgba(255,255,255, 0) 100%);
  background: -webkit-gradient(linear, left top, 550 200, from(rgba(43, 40, 40, 0.82)), to(rgba(53, 52, 52, 0.08)), color-stop(0.5, rgba(29, 26, 26, 0.77)), color-stop(0.5, rgba(56, 56, 56, 0.55)));
  background: -ms-linear-gradient(left top, rgba(255,255,255, 0.4) 0%, rgba(255,255,255, 0.075) 35%, rgba(255,255,255, 0) 35%, rgba(255,255,255, 0) 100%);
  background: -khtml-gradient(linear, left top, 550 200, from(rgba(255,255,255, 0.4)), to(rgba(255,255,255, 0)), color-stop(0.5, rgba(255,255,255, 0.075)), color-stop(0.5, rgba(255,255,255, 0)));
  background: -o-linear-gradient(left top, rgba(255,255,255, 0.4) 0%, rgba(255,255,255, 0.075) 35%, rgba(255,255,255, 0) 35%, rgba(255,255,255, 0) 100%);
  background: gradient(linear, left top, 550 200, from(rgba(255,255,255, 0.4)), to(rgba(255,255,255, 0)), color-stop(0.5, rgba(255,255,255, 0.075)), color-stop(0.5, rgba(255,255,255, 0)));
}
.post {
  margin: -26px auto 0;
  width: 60px;
  height: 30px;
  background: -moz-linear-gradient(left, #222, #888, #222);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #888));
  background: -ms-linear-gradient(left, #222, #888, #222);
  background: -khtml-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #888));
  background: -o-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #888));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #888));
  box-shadow: 0px 2px 10px #000 inset;
  -moz-box-shadow: 0px 2px 10px #000 inset;
  -webkit-box-shadow: 0px 2px 10px #000 inset;
}
.base {
  margin: 0 auto;
  width: 150px;
  height: 5px;
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  background: -moz-linear-gradient(top, #888, #222);
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#888));
  background: -ms-linear-gradient(top, #888, #222);
  background: -khtml-gradient(linear, left top, left bottom, from(#222), to(#888));
  background: -o-linear-gradient(top, #888, #222);
  background: gradient(linear, left top, left bottom, from(#222), to(#888));
}
.rightMenu {
    padding-right: 230px;
}
.topHead {}
.topHead .team1 {
    float: right;
    width: 140px;
    text-align: center;
}
.topHead .team2 {
    float: left;
    width: 140px;
    text-align: center;
}
.table-results {
    width: 100%;
}